form input {
  border: 2px solid #f0f1ed !important;
  outline: #f0f1ed;
}

form input:focus {
  border: 2px solid #e39c0d !important;
  outline: #e39c0d;
}

form .btn {
  border: none !important;
  outline: none !important;
}
form .btn:focus {
  border: none !important;
  outline: none !important;
}
